* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --secondary-color: #999950;
  --tertiary-color: #1f3438;
  --background-color: #efa94a;
  --background-color-1: #f44611;
  --background-color-2: #ffff00;
  --background-color-black: #000;
  --background-color-rose: #e63244;
  --background-color-red-lilac: #6d3f5b;
  --color-grey: #777;
  --color--transparent: transparent;
  --icon-color-yellow-green: #57a639;
}

body {
  font-size: 16px;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20%;
  height: 20%;
  /* background: var(--background-color-1); */
  position: relative;
}

.container::before,
.container::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
  box-sizing: border-box;
}

.container::before {
  border-bottom: 5px solid var(--icon-color-yellow-green);
  border-top: 5px solid var(--icon-color-yellow-green);
  transform: scaleX(0);
  animation: animate2 2s infinite;
  transition-delay: 1s;
}

.container::after {
  border-left: 5px solid var(--background-color-red-lilac);
  border-right: 5px solid var(--background-color-red-lilac);
  transform: scaleY(0);
  animation: animate 2s infinite;
  transition-delay: 1s;
}

.container .rotate {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: var(--background-color-black); */
  transform: rotate(45deg);
}

.container .rotate::after,
.container .rotate::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 1s;
  box-sizing: border-box;
}

.container .rotate::after {
  border-top: 5px solid var(--background-color);
  border-bottom: 5px solid var(--background-color);
  /* transform: scaleX(0); */
  animation: animate2 2s infinite;
}

.container .rotate::before {
  border-left: 5px solid var(--background-color-1);
  border-right: 5px solid var(--background-color-1);
  box-sizing: border-box;
  /* transform: scaleY(0); */
  animation: animate 2s infinite;
}

.container:hover::before {
  transform: scaleX(1);
}

.container:hover::after {
  transform: scaleY(1);
}

.container:hover .rotate::after {
  transform: scaleX(1);
}
.container:hover .rotate::before {
  transform: scaleY(1);
}

.container .lists {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /* background: var(--background-color-2); */
  color: var(--color-grey);
  list-style-type: none;
}

.container .lists .lists-item {
  display: block;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.container .lists .lists-item:nth-child(2) {
  color: var(--icon-color-yellow-green);
  font-size: 1.7rem;
  font-weight: bolder;
}

@keyframes animate {
  0% {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(0.5);
  }

  75% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
    transition-delay: 1s;
  }
}

@keyframes animate2 {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(0.5);
  }

  75% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
    transition-delay: 1s;
  }
}
