* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --secondary-color: #999950;
  --tertiary-color: #1f3438;
  --background-color: #efa94a;
  --background-color-1: #f44611;
  --background-color-2: #ffff00;
  --background-color-black: #000;
  --background-color-rose: #e63244;
  --background-color-red-lilac: #6d3f5b;
  --color-grey: #777;
  --color--transparent: transparent;
}

body {
  font-size: 16px;
  height: 100vh;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .title {
  width: 200px;
  height: 50px;
} */

h1 {
  font-family: "Open sans", "Times New Roman", Times, serif;
  font-size: 5rem;
  letter-spacing: 10px;
  color: var(--color-grey);
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
}

h1::before {
  content: "text";
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  transition: all 1s;
  overflow: hidden;
  color: var(--background-color-black);
}

h1:hover::before {
  width: 100%;
}
