* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
  --secondary-color: #999950;
  --tertiary-color: #1f3438;
  --background-color: #efa94a;
  --background-color-1: #f44611;
  --background-color-2: #ffff00;
  --background-color-black: #000;
}

body {
  font-size: 16px;
  height: 100dvh;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 80%;
  height: 40px;
}

.nav-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  /* background: var(--background-color); */
  height: 41px;
}

.nav-container ul li {
  list-style: none;
  /* background: var(--background-color-2); */
  overflow: hidden;
}

.nav-container ul li a {
  color: var(--background-color-black);
  text-decoration: none;
  display: inline-block;
  width: 95px;
  height: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
  font-weight: 300;
  border-radius: 5px;
  transition: all 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition-delay: 0.5s;
  position: relative;
  z-index: 1;
  /* background: var(--secondary-color); */
}

.nav-container ul li a::before,
.nav-container ul li a::after {
  content: "";
  bottom: -5px;
  width: 50%;
  height: 3px;
  position: absolute;
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: -1;
}

.nav-container ul li a::before {
  left: 0;
  background: var(--background-color-1);
  transform: translateX(-100%);
}

.nav-container ul li a::after {
  right: 0;
  background: var(--tertiary-color);
  transform: translateX(100%);
}

.nav-container ul li a:hover::before {
  transform: translateX(100%);
}

.nav-container ul li a:hover::after {
  transform: translateX(-100%);
}
