/* body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	padding: 40px 80px;
	font-family: sans-serif;
	text-decoration: none;
	color: #262626;
	font-size: 45px;
	letter-spacing: 2px;
	border: 5px solid #262626;
	position: relative;
	transition: 1s;
}

a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	transition: 1s;
	transform: rotateX(90deg);
	z-index: -1;
}

a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #262626;
	transition: 1s;
	transform: rotateY(90deg);
	z-index: -1;
}

a:hover:before {
	transform: rotateX(0);
}

a:hover:after {
	transform: rotateY(0);
}

a:hover {
	color: white;
} */

/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 28px;
  border: 5px solid #333;
  padding: 40px 80px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

a::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: all 1.5s;
}

a:hover::before {
  transform: translateX(0);
}

a:hover {
  color: yellow;
} */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 40px 80px;
  border: 5px solid #333;
  font-size: 28px;
  font-weight: bold;
  font-family: sans-serif;
  position: relative;
  color: black;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateX(90deg);
  transition: all 1.5s;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotateY(90deg);
  transition: all 1.5s;
}

a:hover::before {
  transform: rotateX(0);
}

a:hover::after {
  transform: rotateY(0);
}

a:hover {
  color: white;
}
